*.tfstate*
.terraform
*.swp
*.swo
.idea/*
ansible/roles/ansible-galaxy/*
*.yaml.dec
Vagrantfile
.vagrant*
.envrc
.vagrant/
*.out
*.log
**/.terraform
**/*.tfstate.backup
**/*.tfstate
*.tfstate
*.tfstate.backup
.local
test*
